node_modules/
.env
.env.*
venv/
logs/        
*.log
.vscode/settings.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*
backend/coverage
# Prometheus binary and data
backend/src/observability/prometheus/prometheus.exe
backend/src/observability/prometheus/data/
backend/src/observability/prometheus/tsdb/
start-prometheus.bat
run.bat
data/