@keyframes fadeInAndUp {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
    }
}

@keyframes fadeOutAndDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}