.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

input,
textarea 
{
    font-family: 'Montserrat', sans-serif;
}

#register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    flex: 0 0 40%;
    height: 100%;
    padding: 2rem 4rem;
}

#authentication-form-container header h1 {
    font-size: clamp(1.5rem, 2.25vw, 4rem);
    margin-bottom: 0.75rem;
}

#authentication-form-container .separator {
    font-weight: 700;
    color: rgb(45, 45, 45);
}

#authentication-form-container .create-with-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 0.55rem 1rem;
    background-color: white;
    border: solid 1px rgba(20, 20, 20, 0.3);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

#authentication-form-container .create-with-google:hover {
    background-color: rgb(240, 240, 240);
}

#authentication-form-container .create-with-google img {
    width: clamp(24px, 0.5vw, 48px);
    aspect-ratio: 1 / 1;
}

#authentication-form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#authentication-form-container .form-group label {
    font-weight: 700;
}

#authentication-form-container .form-group input {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: solid 1px rgba(20, 20, 20, 0.3);
    border-radius: 4px;
    outline: none;
}

#authentication-form-container button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    background-color: rgb(20, 20, 20);
    color: white;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#authentication-form-container button[type="submit"]:hover {
    background-color: rgb(36, 36, 36);
}

#authentication-form-container .form-group span {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.authentication-form-image-container {
    flex: 0 0 60%;
    height: 100%;
}

#sign-in-link-span {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

#authentication-form-container a {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: clamp(0.75rem, 0.9vw, 1rem);
    color: black;
    font-weight: 700;
}

#authentication-form-container a::before {
    position: absolute;
    content: '';
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 2px;
    bottom: -5px;
}

.authentication-form-image-container {
    position: relative;
}

.authentication-form-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.1);
}

.authentication-form-image-container .testimonial {
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    border-radius: 1000px;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.1);
    z-index: 2;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    font-weight: 600;
}

.authentication-form-image-container .testimonial:nth-of-type(1) {
    top: 25%;
    left: 5%;
}

.authentication-form-image-container .testimonial:nth-of-type(2) {
    bottom: 25%;
    right: 5%;
}

.error-message {
    display: flex;
    align-items: end;
    gap: 0.25rem;
    background-color: rgb(255, 211, 211);
    color: red;
    padding: clamp(6px, 0.75vw, 0.75rem) clamp(10px, 1.5vw, 1rem);
    border-radius: 4px;
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 600;
}


#close-modal-btn {
    position: absolute;
    top: 4%;
    right: 2%;
    font-size: 1rem;
    color: var(--gray);
    cursor: pointer;
}

.verification-form {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    aspect-ratio: 2 / 1;
    border-radius: 5px;
    z-index: 100;
    background-color: white;
    padding: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}

.verification-form h2 {
    font-weight: 700;
}

.verification-form p {
    font-weight: 400;
    color: var(--gray);
    margin-top: 0.5rem;
}

.verification-form .digit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.verification-form .digit {
    width: 4rem;  
    height: 4rem; 
    font-size: 1.5rem; 
    font-weight: 800;
    padding: 1rem; 
    text-align: center;
    border: solid 1px var(--gray);
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.verification-form .digit.filled {
    border: none;
    background-color: rgba(0,0,0,0.1);
}

.verification-form .line {
    margin: 1.5rem 0;
    opacity: 0.5;
}

.verification-form .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.verification-form .buttons {
    display: flex;
    gap: 0.5rem;
}

.spinner {
    border: 2px solid white; 
    border-top: 2px solid gray; 
    border-radius: 50%;
    width: clamp(0.5rem, 1.5vw, 1.25rem);
    aspect-ratio: 1 / 1;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.verification-form button {
    font-weight: 600;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    border-radius: 4px;
    outline: none;
    padding: clamp(6px, 0.75vw, 0.75rem) clamp(10px, 1.5vw, 1rem);
    cursor: pointer;
    transition: 0.3s;
}

.resend-code-btn {
    background-color: var(--primary);
    color: var(--gray);
    border: solid 1px var(--gray);
}

.verify-btn {
    background-color: black;
    color: white;
    border: none;
}

.resend-code-btn:hover {
    background-color: #e9e9e9;
}

.verify-btn:hover {
    background-color: rgb(45, 45, 45);
}

.vertical-line {
    width: 1px;
    height: clamp(50px, 5vh, 100px);
    background-color: rgba(0,0,0,1);
}

#get-started-form .steps {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

#get-started-form header {
    margin-bottom: 1rem;
}

#get-started-form header h2 {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
}

#get-started-form header .subheader {
    font-size: clamp(0.8rem, 1.1vw, 1.75rem);
    font-weight: 500;
    margin-top: 0.25rem;
    color: var(--gray);
}

#get-started-form .steps ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin-top: 1rem;
}

#get-started-form .steps li {
    position: relative;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

#get-started-form .steps li i {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(0.75rem, 1vw, 1.5rem);
    height: clamp(0.75rem, 1vw, 1.5rem);
    padding: clamp(1rem, 1.5vw, 1.75rem);
    background-color: var(--disabled);
    color: gray;
    border-radius: 4px;
}

#get-started-form .steps li i::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 4rem; 
    top: 100%;
    left: 50%;
    background-color: rgba(0,0,0,0.3);
}

#get-started-form .steps li:last-child i::after {
    display: none;
}

#get-started-form .steps li span {
    color: rgb(100, 100, 100);
    font-weight: 600;
    font-size: clamp(0.5rem, 1vw, 1.75rem);
}

#get-started-form .supporting-text {
    color: rgb(100, 100, 100);
    font-size: clamp(0.5rem, 1vw, 1.75rem);
    margin-top: 4px;
}

#get-started-form .steps li.active i {
    background-color: var(--tertiary);
    border: solid 1px  #3b2b220a;
    color: black;
}

#get-started-form .steps li.active span,
#get-started-form .steps li.active .supporting-text
{
    color: black;
}

.form-panel {
    flex: 3;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    border-left: solid 1px rgba(0,0,0,0.1);
}

.form-panel h3 {
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-panel p {
    font-size: clamp(1rem, 1vw, 3rem);
}

.form-panel .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 2%;
    padding: 0 1rem;
}

.form-panel button {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--secondary);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.role-choices {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.role-choices input[type="radio"] {
    display: none;
}

.role-choice {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: clamp(4rem, 12vw, 12rem);
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    background-color: var(--disabled);
    border: solid 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.15s;
}

.role-choice i:not(.checked-indicator i) {
    font-size: clamp(1rem, 3vw, 6rem);
    color: gray;
}

.role-choice .checked-indicator {
    display: none;
    position: absolute;
    padding: 1.2rem;
    top: 0;
    right: 0;
    background-color: var(--secondary);
    color: white;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    border-radius: 0 4px 0 0;
}

.role-choice.selected .checked-indicator {
    display: block;
}

.role-choice .checked-indicator i {
    position: absolute;
    top: 4px;
    right: 4px;
}

.role-choice label {
    color: gray;
    pointer-events: none;
}

.role-choice:hover,
.role-choice.selected
{
    background-color: var(--tertiary);
    border: solid 1px  #3b2b220a;
}

.role-choice:hover i:not(.checked-indicator i),
.role-choice.selected i:not(.checked-indicator i)
{
    color: var(--secondary);
}

.role-choice:hover label,
.role-choice.selected label
{
    color: var(--secondary);
}

.form-panel .form-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.form-panel .row {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.form-panel .form-group {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-panel .form-group input,
.form-panel .form-group textarea
{
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    width: 100%;
}

.form-panel .form-group label {
    font-size: clamp(0.5rem, 1vw, 2rem);
    font-weight: 600;
    margin-bottom: -0.5rem;
}

.form-panel .form-group input {
    padding: 5px 10px;
}

.form-panel .form-group textarea {
    height: clamp(3rem, 5vw, 5rem);
    padding: 5px 10px;
    resize: none;
}

.form-panel .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.form-panel .wrapper i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 6%;
}

.form-panel .wrapper input {
    padding-left: 2rem;
}

.user-skills {
    max-width: 75%;
}

.added-skills {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.added-skills li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    border-radius: 4px;
    background-color: var(--tertiary);
    cursor: pointer;
}

.added-skills li span {
    padding: 10px 15px;
    padding-right: 0;
    font-weight: 500;
}

.added-skills li i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    padding-right: 15px;
    border-radius: 0 4px 4px 0;
}