.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--secondary);
}

.logo img {
    filter: brightness(0) invert(1);
}

.navbar-links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem;
    margin-right: 1rem;
}

.navbar-links a {
    font-size: clamp(0.5rem, 1vw, 4rem);
    color: white;
}

.nav-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(0.75rem, 1.2vw, 2.25rem);
    height: clamp(0.75rem, 1.2vw, 2.25rem);
    font-size: clamp(0.5rem, 1vw, 1rem);
    padding: 1rem;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px rgba(20, 20, 20, 0.3);
    cursor: pointer;
    background-color: white;
    color: black;
}

.sign-in-link {
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border: solid 2px white;
    border-radius: 1000px;
    transition: 0.3s;
}

.sign-in-link:hover {
    background-color: white;
    color: var(--secondary);
}

nav .dropdown {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 115%;
    right: 50%;
    gap: 1rem;
    list-style-type: none;
    background-color: var(--secondary);
    color: white;
    padding: 10px;
    width: max-content;
    border-radius: 4px;
}

nav .dropdown.visible {
    visibility: visible;
    opacity: 1;
    animation: fadeOutAndDown 0.15s forwards;
}

nav .dropdown.hidden {
    visibility: hidden;
    opacity: 0;
    animation: fadeInAndUp 0.15s forwards;
}

nav .dropdown li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .dropdown li i {
    background-color: var(--secondary-light);
    padding: 10px;
    border-radius: 4px;
    font-size: clamp(0.5rem, 0.65vw, 1rem);
}

nav .dropdown li span {
    font-size: clamp(0.5rem, 0.65vw, 1rem);
}
