.sidebar-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    height: calc(100vh - 1rem);
    border-radius: 12px;
}

.sidebar-navbar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    border-radius: 5px;
    background-color: var(--secondary);
}

.logo.floating {
    position: absolute;
    top: 1%;
    left: 1%;
    padding: 0.5rem;
}

.logo img {
    filter: brightness(0) invert(1);
}

.sidebar-navbar ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 1.75rem;
    padding: 0; 
}

.sidebar-navbar li {
    width: 100%; 
}

.sidebar-navbar li i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2rem, 1vw, 1.5rem);
    height: clamp(2rem, 1vw, 1.5rem);
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-navbar li.active i {
    background-color: white;
    color: var(--secondary);
}

.sidebar-navbar li:not(.active):hover i {
    background-color: var(--secondary-light);

}

.sidebar-navbar a {
    color: white;
}

#logout-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}