#job-details .company-logo.skeleton {
    background-color: var(--light-gray);
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #e6e4e3;
}
  
.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    animation: skeleton-shimmer 2.5s ease-in-out infinite;
}

.skeleton-text-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.skeleton.text {
    background-color: var(--light-gray);
    border-radius: 5px;
    height: 2rem;
}

.skeleton.text.short {
    width: 25%;
}

.skeleton.text.long{ 
    width: 50%;
}

@keyframes skeleton-shimmer {
    0% {
      left: -150px;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 100%; /* stays at final position from 60%-100% (≈1s pause) */
    }
}