.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #e6e4e3;
}
  
.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    animation: skeleton-shimmer 2.5s ease-in-out infinite;
}

.skeleton-text-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.skeleton.text {
    background-color: var(--light-gray);
    border-radius: 5px;
    height: 2rem;
}

.skeleton.text.short {
    width: 25%;
}

.skeleton.text.long { 
    width: 50%;
}

.skeleton.text.max-width {
    width: 100%;
}

.skeleton.square {
    aspect-ratio: 1 / 1;
}

.skeleton.circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.skeleton.rectangle {
    aspect-ratio: 4 / 2;
    border-radius: 10px;
}

#job-details .company-logo.skeleton {
    background-color: var(--light-gray);
}

.job-highlights li.skeleton {
    background-color: var(--light-gray);
    border: none;
    border-radius: 5px;
}

#job-details #rating .skeleton.square {
    width: clamp(1rem, 3vw, 5rem);
    border-radius: 5px;
}

#job-details #ceo .skeleton.circle {
    width: clamp(1rem, 3vw, 5rem);
}

#job-details #about-the-company .skeleton.rectangle {
    width: 100%;
}

#chat-sidebar .skeleton.circle {
    width: clamp(2.5rem, 8vw, 10rem);
    height: clamp(2.5rem, 8vw, 10rem);
    margin: 0 auto;
}

#chat-sidebar .skeleton.skeleton.rectangle {
    height: clamp(1rem, 1.5vw, 3rem);
    width: 50%;
    margin-top: 0.5rem;
}

@keyframes skeleton-shimmer {
    0% {
      left: -150px;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 100%; /* stays at final position from 60%-100% (≈1s pause) */
    }
}