
#chats-page {
    display: flex;
    height: 100vh;
    gap: 1.5rem;
}

#chat-sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-sidebar header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

#chat-sidebar header h1 {
    font-weight: 600;
}

#chat-sidebar header i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    color: rgb(110, 110, 110);
    width: clamp(1.5rem, 2.5vw, 4rem);
    height: clamp(1.5rem, 2.5vw, 4rem);
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#chat-sidebar header i:hover {
    background-color: var(--tertiary);
    color: var(--secondary-light);
}

#chat-sidebar #user-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
}

#chat-sidebar #user-summary .fa-gear {
    align-self: end;
    color: rgb(190, 190, 190);
    cursor: pointer;
    font-size: clamp(1rem, 1vw, 1.5rem);
}

#chat-sidebar .user-avatar {
    position: relative;
    width: clamp(2.5rem, 7.5vw, 10rem);
    height: clamp(2.5rem, 7.5vw, 10rem);
}

#chat-sidebar .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

#chat-sidebar #user-summary .status-circle {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: clamp(0.25rem, 0.6vw, 1rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    outline: solid 2px white;
}

#chat-sidebar #user-summary .status-circle.online {
    background-color: var(--success);
}

#chat-sidebar #user-summary h1 {
    margin-top: 0.5rem;
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 600;
}

#chat-sidebar #user-summary .status-text {
    background-color: var(--light-gray);
    color: rgb(110, 110, 110);
    padding: 5px 20px;
    border-radius: 8px;
    font-size: clamp(0.75rem, 0.75vw, 2rem);
    font-weight: 600;
}

#chat-sidebar #user-summary .status-text.online {
    background-color: rgb(211, 250, 239);
    color: rgb(0, 163, 122);
}

.message-search-bar {
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.message-search-bar input[type="text"] {
    width: 100%;
    padding: 12px 16px;
    padding-right: 3.5rem;
    background-color: rgb(237, 237, 237);
    color: rgb(100, 100, 100);
    font-size: clamp(0.75rem, 0.8vw, 2rem);
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
}

.message-search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.message-search-bar i {
    color: rgb(170, 170, 170);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 2.5%;
}

.message-search-bar .fa-xmark {
    cursor: pointer;
}

#chat-list {
    margin-top: 2.5rem;
}

#chat-list .row {
    align-items: center;
    justify-content: space-between;
}

#chat-list h4 {
    color: rgb(170, 170, 170);
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    font-weight: 500;
}

#chat-list .actions {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

#chat-list .actions button {
    border: none;
    outline: none;
}

#chat-list i {
    color: rgb(170, 170, 170);
    cursor: pointer;
}

#chat-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
}

#chat-list .message-preview {
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    padding-right: 1.5rem;
    border-radius: 1000px;
    cursor: pointer;
    transition: 0.3s;
}

#chat-list .message-preview:hover,
#chat-list .message-preview.current
{
    background-color: rgb(235, 235, 235);
}

#chat-list .message-preview figure {
    position: relative;
}

#chat-list .message-preview img {
    width: clamp(3rem, 2vw, 6rem);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#chat-list .message-preview .status-circle.online {
    position: absolute;
    right: 2px;
    bottom: 8px;
    width: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    outline: solid 1px white;
    background-color: var(--success);
}

#chat-list .message-preview .message-details {
    flex: 1 1 auto;
    margin-top: 2px;
    min-width: 0; /* To allow proper shrinking */
}

#chat-list .message-preview .row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 0.25rem;
}

#chat-list .message-preview strong {
    color: rgb(40, 40, 40);
    font-size: clamp(1rem, 1vw, 2.5rem);
    font-weight: 600;
    flex: 1; 
    min-width: 0; /* To allow proper text truncation */
}

#chat-list .message-preview time {
    color: rgb(150, 150, 150);
    font-size: clamp(0.65rem, 0.75vw, 1.75rem);
    font-weight: 500;
    flex-shrink: 0; /* To prevent the time from shrinking */
    white-space: nowrap; /* To keep time on one line */
}

#chat-list .message-preview .message-content  {
    display: inline-block;
    color: black;
    font-size: clamp(0.75rem, 0.75vw, 2rem);
    font-weight: 500;
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chat-list .message-preview .message-content.seen {
    color: rgb(150, 150, 150);
}

.chat-window {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding: 1.5rem;
    background-color: rgb(236, 236, 236);
    border: solid 1px rgba(220, 220, 220, 0.1);
    border-radius: 20px;
}

.chat-window header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.chat-window .compose-message {
    display: flex;
    align-items: start;
    justify-self: start;
    flex-direction: column;
    background-color: white;
    border-radius: 12px 12px 0 0;
    margin: -1.5rem;
    padding: 1rem;
}

.chat-window .compose-message h1 {
    font-size: clamp(1rem, 1.25vw, 3rem);
    font-weight: 600;
}

.chat-window .send-to {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    padding-top: 0.75rem;
    width: 100%;
}

.chat-window .send-to label {
    color: rgb(170, 170, 170);
    font-size: clamp(0.75rem, 0.75vw, 2rem);
    font-weight: 600;
}

.chat-window .send-to input {
    color: rgb(170, 170, 170);
    font-size: clamp(0.75rem, 0.75vw, 2rem);
    font-weight: 600;
    border: none;
    outline: none;
}

.chat-window .send-to input::placeholder {
    color: rgb(170, 170, 170);
}

.chat-window .selected-receiver {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(230, 230, 230);
    border: solid 1px rgba(204, 201, 176, 0.3);
    border-radius: 8px;
    padding: 8px;
    padding-right: 16px;
}

.chat-window .selected-receiver img {
    width: clamp(1rem, 1.25vw, 3rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.chat-window .selected-receiver strong {
    color: rgb(70, 70, 70);
    font-size: clamp(0.5rem, 0.6vw, 1.5rem);
    font-weight: 600;
}

.chat-window .remove-receiver-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-window .results {
    position: absolute;
    left: 2%;
    top: 175%;
    width: 50%;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.1);
    list-style-type: none;
    margin: 0;
    z-index: 10;
}

.chat-window .results li button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    background-color: transparent;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
}

.chat-window .results li button:hover {
    background-color: rgb(235, 235, 235);
}

.chat-window .results li img {
    width: clamp(1rem, 2vw, 4rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.chat-window .results li strong {
    font-size: clamp(0.5rem, 0.7vw, 2rem);
    font-weight: 600;
}

.chat-window .results li p {
    color: rgb(130, 130, 130);
    font-size: clamp(0.4rem, 0.65vw, 1.8rem);
    font-weight: 500;
}

.chat-window .user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.chat-window .user img {
    width: clamp(1.5rem, 2.5vw, 6rem);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.chat-window .user address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.chat-window .user address strong {
    font-size: clamp(0.75rem, 0.75vw, 1.75rem);
    font-weight: 600;
}

.chat-window .user address span {
    color: rgb(130, 130, 130);
    font-size: clamp(0.65rem, 0.7vw, 1.25rem);
    font-weight: 500;
}

.chat-window header .actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.chat-window header .actions i {
    color: rgb(90, 90, 90);
    cursor: pointer;
}
