.chat-resources {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
}

.chat-resources header {
    display: flex;
    align-items: center;
}

.chat-resources header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.chat-resources header h1 {
    font-weight: 600;
}

.chat-resources header i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: var(--light-gray);
    color: rgb(110, 110, 110);
    width: clamp(1.5rem, 2.5vw, 4rem);
    height: clamp(1.5rem, 2.5vw, 4rem);
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.chat-resources header i:hover {
    background-color: var(--tertiary);
    color: var(--secondary-light);
}

.chat-resources ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}

.chat-resources .resource-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    transition: 0.3s;
}

.chat-resources .resource-item:hover,
.chat-resources .resource-item.active
{
    background-color: var(--light-gray);
}

.chat-resources .resource-item i:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(1.5rem, 1vw, 3rem);
    height: clamp(1.5rem, 1vw, 3rem);
    font-size: clamp(0.75rem, 0.85vw, 1.75rem);
    padding: 1.75rem;
    background-color: var(--light-gray);
    color: rgb(90, 90, 90);
    border-radius: 12px;
}

.chat-resources .resource-item i:last-of-type {
    color: rgb(100, 100, 100);
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    margin-left: auto;
    margin-right: 0.5rem;
}

.chat-resources .resource-item strong {
    color: rgb(40, 40, 40);
    font-size: clamp(0.5rem, 0.75vw, 2rem);
    font-weight: 700;
}

.chat-resources .resource-item p {
    color: rgb(100, 100, 100);
    font-size: clamp(0.4rem, 0.75vw, 1.75rem);
    font-weight: 500;
}

.current-chat-resource {
    border-top: solid 2px var(--light-gray);
    padding: 1rem 0.5rem;
}

.current-chat-resource ul {
    max-height: 500px;
    overflow-y: auto;
}

.attachments-resource-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
}

.attachments-resource-grid li {
    list-style: none;
}

.attachments-resource-grid img {
    width: calc((100% / 3) - 0.25rem);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.link-preview-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.link-preview-item {
    flex: 0 0 calc((100% / 5) - 0.25rem);
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    border: solid 1px var(--light-gray);
    list-style-type: none;
    padding: 0.75rem;
    transition: 0.3s;
}

.link-preview-item:hover {
    background-color: rgb(233, 238, 241);
    border: solid 1px rgb(42, 50, 92);
}

.link-preview-item a {
    display: flex;
    align-items: start;
    gap: 0.75rem;
}

.link-preview-item img {
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
}

.link-preview-item strong {
    font-size: clamp(0.5rem, 0.75vw, 1.25rem);
    font-weight: 600;
}

.link-preview-item p {
    color: rgb(40, 40, 40);
    font-size: clamp(0.4rem, 0.7vw, 1rem);
    font-weight: 400;
    margin-top: 0.15rem;
}