
.message-confirmation-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 3rem 3.5rem;
    width: 30vw;
    z-index: 1000;
}

.message-confirmation-modal i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(1rem, 1vw, 2rem);
    height: clamp(1rem, 1vw, 2rem);
    font-size: clamp(1rem, 1.1vw, 2.5rem);
    padding: 2rem;
    border-radius: 12px;
}

.message-confirmation-modal #warning-icon {
    background-color: rgb(247, 214, 214);
    color: rgb(194, 69, 69);
}

.message-confirmation-modal h2 {
    font-size: clamp(1.5rem, 1.5vw, 4rem);
}

.message-confirmation-modal .actions {
    margin-top: 1.5rem;
    width: 100%;
}

.message-confirmation-modal button {
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.message-confirmation-modal #delete-btn {
    background-color: rgb(194, 69, 69);
}

.message-confirmation-modal #delete-btn:hover {
    background-color: var(--error);
}

.message-confirmation-modal #cancel-btn {
    border: solid 1px rgba(0, 0, 0, 0.1);
    color: rgb(40, 40, 40);
}